# Ignore everything by default
*

# Allow C and C++ source files
!*.c
!*.cpp

# Allow the 'bin' executable
!bin

# Ignore compiled files and build artifacts
*.o
*.out
*.exe
*.a
*.so
*.dll
*.dSYM/
*.obj
*.elf

# Ignore IDE and editor files
.vscode/
*.log
*.swp
*.swo
*.bak

# Ignore Makefile intermediate files
*.d
